@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Nunito:wght@200&display=swap');

html, body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

nav{
    top: 0;
    position: fixed;
    z-index: 999;

    background-color: #fff;
    width: 100%;

    display: flex;
}

.navbar{
    display: flex;
    justify-content: center;
    width: 100%;
    margin:0;
    padding:0;
}

.hamburguer{
    width: 30px;
    height: 30px;

    background-color: transparent;
    border-radius: 5px;
    border: 0;

    position: relative;
    cursor: pointer;
    display: none;

    background-color: #fff;

}

.hamburguer:after{
    content: '';
    position: absolute;

    top: 30%;
    left: 15%;
    width: 70%;
    height: 10%;

    border-radius: 20px;
    background-color: #26186D;
    transition: 1s ease;
}

.hamburguer:before{
    content: '';

    position: absolute;
    top: 50%;
    left: 45%;

    width: 40%;
    height: 10%;

    border-radius: 20px;
    background-color: #26186D;
    transition: 1s ease;
}

#hamburguer:checked ~ label .hamburguer:after{
  transform: rotate(225deg);

  top: 45%;
  left: 15%;

}

#hamburguer:checked ~ label .hamburguer:before{
  transform: rotate(-405deg);

  width: 70%;    
  height: 10%;

  top: 45%;
  left: 15%;
}


.menu{
    list-style: none;

    display: flex;
    align-items: center;
}

.menu li{
    margin-left: 10px;
}

.menu li a{
    display: block;
    padding: 0 5px;
    text-decoration: none;
    color: #000;
    transition: 0.5s ease;
}
.menu li a:hover{
    color: #26186D;
}

footer ol{
    margin: 0;
}

footer{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    padding: 15px 0;
    color: #4c3e84;
}

footer a{
    text-decoration: none;
    color: #4c3e84;
    font-size: 30px;
    margin-left: 10px;
}


.title{
    font-family: 'Fjalla One', sans-serif;
    color: #2c3e50;
    font-size: 35px;
  }



@media (max-width: 600px){

    nav{
        height: 55px;
        align-items: center;
        justify-content: end;
    }

    .navbar{
        right: 0;
        width: 120px;
    }

    .hamburguer{
        display: block;
        z-index: 999;     
        right: 0; 
    }

    .menu{
        position: fixed;
        top: 0;

        margin:0;
        padding: 100px 20px;

        height: 100vh;
        right: 0;
        width: 100%;
        max-width: 250px;
        background-color: rgba(76, 62, 132, 1);

        flex-direction: column;

    }

    .menu li a{
        color: #fff;
        font-size: 25px;
        margin-bottom: 35px;
    }
    .active{
      right: -100%;
      transition: 2s ease;
    }


}
