@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Nunito:wght@200&display=swap');

html, body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

footer{
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    padding: 15px 0;
    color: #4c3e84;
}


.title{
    font-family: 'Fjalla One', sans-serif;
    color: #2c3e50;
    font-size: 35px;
}

.card-job{
  width: 300px;
  height: 300px;
  margin: 15px;
  text-align: center;
}

.projeto{
  display: flex;
  flex-wrap: wrap;
}

.card-job .imagem{
  background-color: black;
  background-image: url(https://img.freepik.com/fotos-gratis/moldura-quadrada-feita-de-papel-de-lava-exuberante-conceito-minimo-espaco-para-texto-ou-imagem_141856-215.jpg?size=626&ext=jpg);
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 250px;
}

.card-job p{
  width: 100%;
  text-align: center;
}

header{
  background-color: #fff;
  background-image: url(https://images.pexels.com/photos/546819/pexels-photo-546819.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
  color: white;
  width: 100%; 
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
  
  .about-me{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  .about-me p{
    margin: 15px 20px;
    width: 70%;
    font-size: 20px;
  }
  
  
  .more-information{
    text-decoration: none;
    color: #fff;
  
    padding: 10px 25px;
    background-color: #4c3e84;
    margin: 20px 0;
  
    border-radius: 40px;
    font-weight: bold;
    
    transition: 0.5s ease;
  }
  .more-information:hover{
    color: #fff;
    font-weight: bold;
    background-color: #4c3e84d7;
  }
  
  .skills{
    background-color: #f1f2f6;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .card-skills{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .card-skills i{
    margin-left: 15px;
    margin-right: 15px;
    font-size: 30px;  
  }
  .bar{
    border-radius: 15px;
    height: 20px;
    width: 50%;
    border: 1px solid #000;
  }
  .percentage{
    border-radius: 15px;
  
    background: linear-gradient(-75deg, #a29bfe, #6c5ce7, #a29bfe);
      background-size: 200% 200%;
      height: 20px;
  
    -webkit-animation: gradient 5s ease alternate infinite;
    -moz-animation: gradient 5s ease alternate infinite;
    animation: gradient 5s ease alternate infinite;
  }
  #html, #css, #bootstrap, #photoshop{
    width: 90%;
  }
  #javascript{
    width: 70%;
  }
  #reactjs, #typescript{
    width: 30%;
  }
  #git{
    width: 50%;
  }
  #figma{
    width: 100%;
  }
  
  
  @-webkit-keyframes gradient {
    0%{background-position:0% 50%}
    50%{background-position:50% 100%}
    100%{background-position:100% 0%}
  }
  @-moz-keyframes gradient {
    0%{background-position:0% 50%}
    50%{background-position:50% 100%}
    100%{background-position:100% 0%}
  }
  @keyframes gradient {
    0%{background-position:0% 50%}
    50%{background-position:50% 100%}
    100%{background-position:100% 0%}
  }
  
  
  .team{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card-team{
    width: 300px;
    height: 300px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .img-card{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 4px solid #26186D;
    padding: 5px;
  }
  
  .description-team{
    text-align: center;
    margin: 0; 
    padding: 0;
  }
  
  .contact{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .card-forms{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    width: 40%;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px #2d3436;
  }
  .card-forms li{
    list-style: none;
  }
  .card-forms ul{
    display: flex;
    flex-direction: column;
    justify-items: center;
  }
  .field-forms {
    font-family: Nunito,sans-serif;
    border: none;
    color: #4F4F4F;
    font-size: 15px;
    background-color: #e6e6e6;
    margin: 5px;
    border-radius: 10px;
    padding: 10px;
    width: 300px;
  }
  
  #send{
    background-color: #4c3e84;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    width: 300px;
    margin: 8px 5px 5px 5px;
  }
  
  .introduction{
    text-align: center;
  }
  
  .introduction p{
    font-size: 20px;
    margin-top: -15px;
  }
  
  @keyframes gradient {
    to {
      background-position: -150% center;
    }
  }
  
  
  @keyframes blink {
      0%, 100% {
        opacity: 1;
      }
      50% {
        opacity: 0;
      }
  }
